<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Log Monitoring</title>
    <script type="text/javascript" src="javascript/post.js"></script>
    <link rel="stylesheet" type="text/css" href="css/template.css" />
</head>
<body>
    <div>
      <h1>AVG</h1>
    </div>
    <td>Search Interval</td>
    <td><input type="text" id="starttime" placeholder="1900-00-00 HH:MM:SS"></td>
    <td>~</td>
    <td><input type="text" id="endtime" placeholder="1900-00-00 HH:MM:SS"></td>
    <td>Temp Interval</td>
    <td><input type="text" id="starttemp" placeholder="LOW"></td>
    <td>~</td>
    <td><input type="text" id="endtemp" placeholder="HIGH"></td>
    <td>Light Interval</td>
    <td><input type="text" id="startlight" placeholder="LOW"></td>
    <td>~</td>
    <td><input type="text" id="endlight" placeholder="HIGH"></td>
    <td>Press Interval</td>
    <td><input type="text" id="startpress" placeholder="LOW"></td>
    <td>~</td>
    <td><input type="text" id="endpress" placeholder="HIGH"></td>
    <td>Alti Interval</td>
    <td><input type="text" id="startalti" placeholder="LOW"></td>
    <td>~</td>
    <td><input type="text" id="endalti" placeholder="HIGH"></td>
    <input type="button" value="LOGS" id="submit" onClick="goPost('searchlogs')">
    <input type="button" value="WAKEUPLOG" id="submit" onClick="goPost('searchwakeuplog')">
    <input type="button" value="GET AVG" id="submit" onClick="goPost('searchavg')">

    <table>
      <tr>
        <th>IDX</th>
        <th>AVG TIME TO WAKE UP</th>
      </tr>
      <tr>
      </tr>
    <% wakeuplogList.forEach(function(item, index){%>
      <tr>
        <td><%=index+1%></td>
        <td><input type="text" value="<%=item.AVG%>"></td>
      </tr>
    <% }); %>
    </table>
</body>
</html>
